
@{
    /**/

    ViewBag.Title = "AseanReportDemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Print Certificate</h2>

<iframe src="@Url.Action("AseanReportDemo", "Print")" height="500" width="100%"></iframe>