
@{
    ViewBag.Title = "PrintCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Print Certificate</h2>

<iframe src="@Url.Action("PrintCertificate", "Print")" height="500" width="100%"></iframe>

