@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="~/Assets/Admin/js/User/bootbox.min.js"></script>
    <script src="~/Assets/Admin/js/User/mustache.min.js"></script>
    <script src="~/Assets/Admin/js/User/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/Admin/js/User/jquery.validate.min.js"></script>
    @*<script src="~/Assets/Admin/js/Layout/layoutController.js"></script>*@
    <script src="~/Assets/Admin/js/Home/homeController.js"></script>
    <link href="~/Assets/Admin/css/user.css" rel="stylesheet" />
    <style>

        table {
            table-layout: fixed;
        }
    </style>
}
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-10">
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtNameS" placeholder="Type name or ID..." />
            </div>
            <div class="col-md-3">
                <select class="form-control" id="ddlStatusS">
                    <option value="">All</option>
                    <option value="true">Invited</option>
                    <option value="false">Not Invited</option>
                </select>
            </div>
            <div class="col-md-3 btn-group">
                <button id="btnSearch" class="btn btn-primary"><i class="fa fa-search"></i></button>
                <button id="btnReset" class="btn btn-secondary">Reset</button>
                <button id="btnAddNew" class="btn btn-success"><i class="fa fa-plus-square"></i></button>
            </div>
        </div>
        @*<div class="col-md-2">
                <button id="btnAddNew" class="btn btn-success pull-right"><i class="fa fa-plus-square"></i>Add new</button>
            </div>*@
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" style="overflow:auto;">

        <table class="table table-bordered table-hover text-center tblAsean">
            <thead>
                <tr>
                    <th width="70">#</th>
                    <th width="100">Invited</th>
                    <th width="100">Speaker</th>
                    <th width="50">ID</th>
                    <th width="80">Title</th>
                    <th width="150">First name</th>
                    <th width="100">Last name</th>
                    <th width="180">Company</th>
                    <th width="180">Email</th>
                    <th width="150">Phone</th>
                    <th width="100">Country</th>
                    <th width="100">Payment date</th>
                    <th width="100">Amount</th>
                    <th width="50">Banking fee</th>
                    <th width="250">Mode of payment</th>
                    <th width="100">Cart number</th>
                    <th width="80">Currency</th>
                    <th width="100">Rate</th>
                    <th width="100">Grand total</th>
                    <th width="190">Check in</th>
                    <th width="150">Description</th>
                    <th width="150">Bill VAT number</th>
                    <th width="150">Tax code</th>
                    <th width="150">Fax</th>
                    <th width="150">Registration date</th>
                    <th width="50">Total A</th>
                    <th width="50">Total B</th>
                </tr>
            </thead>
            <tbody id="tblData" class="table"></tbody>
        </table>

        <div id="pagination" class="pagination"></div>
    </div>


    <script id="data-template" type="x-tmpl-mustache">

        <tr class="aseanTr" data-kId="{{kId}}">
            <td>
                <div class="btn-group">
                    <button class="btn btn-outline btn-primary btn-xs btn-edit" data-kId="{{kId}}"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-outline btn-danger btn-xs btn-delete" data-kId="{{kId}}"><i class="fa fa-trash"></i></button>@*<i class="fa fa-trash" aria-hidden="true"></i>*@
                </div>
            </td>

            <td>{{{invited}}}</td>
            <td>{{{speaker}}}</td>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{company}}</td>
            <td>{{email}}</td>
            <td>{{tel}}</td>
            <td>{{country}}</td>
            <td>{{payment}}</td>
            <td>{{amount}}</td>
            <td>{{bankfee}}</td>
            <td>{{mop}}</td>
            <td>{{cardnumber}}</td>
            <td>{{currency}}</td>
            <td>{{rate}}</td>
            <td>{{grandtotal}}</td>
            <td>
                <input class="form-control txtCheckin" data-kId="{{kId}}" type="text" value="{{checkin}}" />
            </td>
            <td>{{descript}}</td>
            <td>{{vatbill}}</td>
            <td>{{taxcode}}</td>
            <td>{{fax}}</td>
            <td>{{dangky}}</td>
            <td>{{totala}}</td>
            <td>{{totalb}}</td>
        </tr>

    </script>
</div>
@RenderPage("_AddUpdateModal.cshtml")


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Serives</h4>
    </div>
    <div class="row panel-body">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable ui-sortable">

            <table class="table">
                <thead>
                    <tr>
                        <th>Hotel</th>
                        <th>Check in</th>
                        <th>Check out</th>
                        <th>Price</th>
                        <th>Booking inf</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="Hotel"></td>
                        <td id="HotelCheckin"></td>
                        <td id="HotelChceckout"></td>
                        <td id="HotelPrice"></td>
                        <td id="HotelBookingInf"></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="col-lg-12 connectedSortable ui-sortable">
            Transfer - Airport to hotel
            <table class="table">
                <thead>
                    <tr>
                        <th>Vehicle</th>
                        <th>Pax</th>
                        <th>Arr</th>
                        <th>Flg no</th>
                        <th>Go with</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="Vehicle"></td>
                        <td id="Pax"></td>
                        <td id="At"></td>
                        <td id="FlgNo"></td>
                        <td id="dikem"></td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>
</div>